header {
 background-color: #4A5CA2; 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.logo-container {
  width: 200px;
  height: 100px;

}

.nerd-logo {
  transform: translateY(-50px)
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-welcome-container {
  /* display: none; */
  margin-right: 20rem;
}

.hamburger {
  /* display: none; */
  position: absolute;
  right: 1rem;
  z-index: 10;
}